<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Confirmação de E-mail</title>
    <meta http-equiv="refresh" content="5;url={{redirectUrl}}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

        body {
            margin: 0;
            padding: 0;
            font-family: 'Fredoka', Arial, sans-serif;
            background-color: #1d2d69;
            color: #1d2d69;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background: #ffffff;
            padding: 40px;
            border-radius: 10px;
            text-align: center;
            width: 90%;
            max-width: 500px;
        }

        h1 {
            font-size: 28px;
            color: #00c2c7;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .countdown {
            font-size: 16px;
            color: #f04e23;
        }
    </style>
    <script>
        let seconds = 5;
        setInterval(() => {
            if (seconds > 1) {
                seconds--;
                document.getElementById('countdown').innerText = seconds;
            }else{
                window.location.href = "https://www.parqueestreladalva.com.br/conta";
            }
        }, 1000);
    </script>
</head>

<body>
    <div class="container">
        <h1>Seu e-mail foi confirmado com sucesso! 🎉</h1>
        <p>Estamos redirecionando você para o site...</p>
        <p class="countdown">Redirecionando em <span id="countdown">5</span> segundos.</p>
    </div>
</body>

</html>